.env
run.py
pretty_print_solution.ipynb

# logs, problems, prompts, archive (code)
logs/
problems/
prompts/
archive/

# Byte-compiled
__pycache__/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/