.env
run.py

# logs, problems, prompts, archive (code)
logs/
prompts/
archive/
notebook/
others/
data/
tokenizer/

# Byte-compiled
__pycache__/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/