certifi==2025.8.3
charset-normalizer==3.4.2
idna==3.10
requests==2.32.4
urllib3==2.5.0
datasets==3.6.0
openai==2.6.1
python-dotenv==1.1.1
transformers==4.51.1
transformers-stream-generator==0.0.5
trl==0.17.0
tokenizers==0.21.1
vllm==0.8.5
PyYAML==6.0.2
Jinja2==3.1.6
